body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ddd;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 300px;
    height: 300px;
    background-color: #fff;
    border: 5px solid #333;
    border-radius: 20px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.red { background-color: #ff6b6b; }
.yellow { background-color: #f3c623; }
.blue { background-color: #3d8af7; }
green { background-color: #18ce0f; }
.pink { background-color: #fa94ab; }
.orange { background-color: #ff9c00; }
.purple { background-color: #a300da; }
.brown { background-color: #774100; }
.teal { background-color: #00c7c2; }

